name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - "v*"

jobs:
  lint-js:
    name: lint:js
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:js

  lint-hbs:
    name: lint:hbs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:hbs

  lint-types:
    name: lint:types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:types

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        uses: ./.github/actions/playwright-browser-install
      - name: Test
        run: pnpm test
      - uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: packages/core/coverage/lcov.info
